fastapi==0.104.1
google-api-python-client==2.106.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-cloud-logging==3.8.0
# google-cloud-aiplatform (not used currently)
gspread==5.12.0
gunicorn==21.2.0
Jinja2==3.1.2
langchain==0.0.331
openai==0.28.1
pydantic==2.4.2
python-multipart==0.0.6
twilio==8.10.1
uvicorn==0.24.0
